
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addClick()" data-backdrop="static" data-keyboard="false">
    Add Contact
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button (click)="closeClick()" type="button" class=" btn btn-primary btn-close" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
        <div class="modal-body">
          <app-add-edit-contact [contact]="contact" *ngIf='ActivateAddEditContactComp'></app-add-edit-contact>
        </div>
        
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Contact Id</th>
            <th>Creation Time</th>
            <th>Contact Type</th>
            <th>Option</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor='let contact of ContactList'>
            <td>{{contact.id}}</td>
            <td>{{contact.creationTime}}</td>
            <td>{{contact.contactType}}</td>
            <td>
                <button type='button' class="btn btn-primary mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="editClick(contact)" data-backdrop="static" data-keyboard="false">
                    Edit
                </button>
                <button type="button" class="btn btn-primary mr-1" (click)="deleteClick(contact.id)">
                    Delete
                </button>
            </td>
        </tr>
        
    </tbody>
</table>